.navbar-brand {
  font-size: 20px;
}

.jumbotron {
  border-radius: 10px;
  width: 800px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 0 25px 10px;
}

span {
  color: green;
}

@media (max-width: 800px) {
 h2 {
   font-size: 27px;
 }

 .jumbotron {
   width: 360px;
 }

 .btn {
   font-size: 15px;
 }
}
